.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  width: 70%;
}

.divButtons {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.buttonSuccess {
  padding: 8px;
  border-radius: 6px;
  background-color: green;
}

.buttonCancel {
  padding: 8px;
  border-radius: 8px;
  background-color: red;
}
